@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-1X5uxiGeu5Mx_font-family: "Inter", sans-serif;
  --mixin-1X5uxiGeu5Mx_font-size: 14px;
  --mixin-1X5uxiGeu5Mx_font-weight: 400;
  --mixin-1X5uxiGeu5Mx_font-style: normal;
  --mixin-1X5uxiGeu5Mx_color: #535353;
  --mixin-1X5uxiGeu5Mx_text-align: left;
  --mixin-1X5uxiGeu5Mx_text-transform: none;
  --mixin-1X5uxiGeu5Mx_line-height: 1.5;
  --mixin-1X5uxiGeu5Mx_letter-spacing: normal;
  --mixin-1X5uxiGeu5Mx_white-space: pre-wrap;
  --mixin-1X5uxiGeu5Mx_user-select: text;
  --mixin-1X5uxiGeu5Mx_text-decoration-line: none;
  --mixin-1X5uxiGeu5Mx_text-overflow: clip;
  --mixin-LLR2jtfHLJGd_color: #000000;
  --mixin-LLR2jtfHLJGd_font-weight: 600;
  --mixin-LLR2jtfHLJGd_font-size: 40px;
  --mixin-LLR2jtfHLJGd_line-height: 1;
  --mixin-LLR2jtfHLJGd_letter-spacing: -1px;
  --mixin-LLR2jtfHLJGd_white-space: pre-wrap;
  --mixin-nTAMLSWaN45W_color: #000000;
  --mixin-nTAMLSWaN45W_font-size: 30px;
  --mixin-nTAMLSWaN45W_font-weight: 600;
  --mixin-nTAMLSWaN45W_line-height: 1.1;
  --mixin-nTAMLSWaN45W_white-space: pre-wrap;
  --mixin-hOzMQL_Iwdh9_color: #0070f3;
  --mixin-hOzMQL_Iwdh9_white-space: pre-wrap;
  --mixin-goJSmyZ7c9Ym_color: #000000;
  --mixin-goJSmyZ7c9Ym_font-size: 24px;
  --mixin-goJSmyZ7c9Ym_font-weight: 600;
  --mixin-goJSmyZ7c9Ym_line-height: 1.2;
  --mixin-goJSmyZ7c9Ym_white-space: pre-wrap;
  --mixin-lyPL14XP-W_i_color: #000000;
  --mixin-lyPL14XP-W_i_font-size: 20px;
  --mixin-lyPL14XP-W_i_font-weight: 600;
  --mixin-lyPL14XP-W_i_line-height: 1.3;
  --mixin-lyPL14XP-W_i_white-space: pre-wrap;
  --mixin-sSaBr-Bgx5k7_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-sSaBr-Bgx5k7_border-bottom-color: #dddddd;
  --mixin-sSaBr-Bgx5k7_border-bottom-style: solid;
  --mixin-sSaBr-Bgx5k7_border-bottom-width: 1px;
  --mixin-sSaBr-Bgx5k7_border-left-color: #dddddd;
  --mixin-sSaBr-Bgx5k7_border-left-style: solid;
  --mixin-sSaBr-Bgx5k7_border-left-width: 1px;
  --mixin-sSaBr-Bgx5k7_border-right-color: #dddddd;
  --mixin-sSaBr-Bgx5k7_border-right-style: solid;
  --mixin-sSaBr-Bgx5k7_border-right-width: 1px;
  --mixin-sSaBr-Bgx5k7_border-top-color: #dddddd;
  --mixin-sSaBr-Bgx5k7_border-top-style: solid;
  --mixin-sSaBr-Bgx5k7_border-top-width: 1px;
  --mixin-sSaBr-Bgx5k7_border-bottom-left-radius: 3px;
  --mixin-sSaBr-Bgx5k7_border-bottom-right-radius: 3px;
  --mixin-sSaBr-Bgx5k7_border-top-left-radius: 3px;
  --mixin-sSaBr-Bgx5k7_border-top-right-radius: 3px;
  --mixin-sSaBr-Bgx5k7_font-family: "Inconsolata";
  --mixin-sSaBr-Bgx5k7_padding-bottom: 1px;
  --mixin-sSaBr-Bgx5k7_padding-left: 4px;
  --mixin-sSaBr-Bgx5k7_padding-right: 4px;
  --mixin-sSaBr-Bgx5k7_padding-top: 1px;
  --mixin-sSaBr-Bgx5k7_white-space: pre-wrap;
  --mixin-wKFdW8Q78l8w_border-left-color: #dddddd;
  --mixin-wKFdW8Q78l8w_border-left-style: solid;
  --mixin-wKFdW8Q78l8w_border-left-width: 3px;
  --mixin-wKFdW8Q78l8w_color: #888888;
  --mixin-wKFdW8Q78l8w_padding-left: 10px;
  --mixin-wKFdW8Q78l8w_white-space: pre-wrap;
  --mixin-ABv1f2KaxE0Q_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ABv1f2KaxE0Q_border-bottom-color: #dddddd;
  --mixin-ABv1f2KaxE0Q_border-bottom-style: solid;
  --mixin-ABv1f2KaxE0Q_border-bottom-width: 1px;
  --mixin-ABv1f2KaxE0Q_border-left-color: #dddddd;
  --mixin-ABv1f2KaxE0Q_border-left-style: solid;
  --mixin-ABv1f2KaxE0Q_border-left-width: 1px;
  --mixin-ABv1f2KaxE0Q_border-right-color: #dddddd;
  --mixin-ABv1f2KaxE0Q_border-right-style: solid;
  --mixin-ABv1f2KaxE0Q_border-right-width: 1px;
  --mixin-ABv1f2KaxE0Q_border-top-color: #dddddd;
  --mixin-ABv1f2KaxE0Q_border-top-style: solid;
  --mixin-ABv1f2KaxE0Q_border-top-width: 1px;
  --mixin-ABv1f2KaxE0Q_border-bottom-left-radius: 3px;
  --mixin-ABv1f2KaxE0Q_border-bottom-right-radius: 3px;
  --mixin-ABv1f2KaxE0Q_border-top-left-radius: 3px;
  --mixin-ABv1f2KaxE0Q_border-top-right-radius: 3px;
  --mixin-ABv1f2KaxE0Q_font-family: "Inconsolata";
  --mixin-ABv1f2KaxE0Q_padding-bottom: 3px;
  --mixin-ABv1f2KaxE0Q_padding-left: 6px;
  --mixin-ABv1f2KaxE0Q_padding-right: 6px;
  --mixin-ABv1f2KaxE0Q_padding-top: 3px;
  --mixin-ABv1f2KaxE0Q_white-space: pre-wrap;
  --mixin-Hrqej03d3JO8_display: flex;
  --mixin-Hrqej03d3JO8_flex-direction: column;
  --mixin-Hrqej03d3JO8_align-items: stretch;
  --mixin-Hrqej03d3JO8_justify-content: flex-start;
  --mixin-Hrqej03d3JO8_list-style-position: outside;
  --mixin-Hrqej03d3JO8_padding-left: 40px;
  --mixin-Hrqej03d3JO8_position: relative;
  --mixin-Hrqej03d3JO8_list-style-type: disc;
  --mixin-Hrqej03d3JO8_white-space: pre-wrap;
  --mixin-_cZngo9bPhSp_display: flex;
  --mixin-_cZngo9bPhSp_flex-direction: column;
  --mixin-_cZngo9bPhSp_align-items: stretch;
  --mixin-_cZngo9bPhSp_justify-content: flex-start;
  --mixin-_cZngo9bPhSp_list-style-position: outside;
  --mixin-_cZngo9bPhSp_padding-left: 40px;
  --mixin-_cZngo9bPhSp_position: relative;
  --mixin-_cZngo9bPhSp_list-style-type: decimal;
  --mixin-_cZngo9bPhSp_white-space: pre-wrap;
  --mixin-jI95hABvpb-1_color: #000000;
  --mixin-jI95hABvpb-1_font-size: 16px;
  --mixin-jI95hABvpb-1_font-weight: 600;
  --mixin-jI95hABvpb-1_line-height: 1.5;
  --mixin-jI95hABvpb-1_white-space: pre-wrap;
  --mixin-fhjxNxed9jAR_color: #000000;
  --mixin-fhjxNxed9jAR_font-size: 14px;
  --mixin-fhjxNxed9jAR_font-weight: 600;
  --mixin-fhjxNxed9jAR_line-height: 1.5;
  --mixin-fhjxNxed9jAR_white-space: pre-wrap;
  --mixin-8QSgg64SV0gE_color: #3291ff;
  --mixin-8QSgg64SV0gE_white-space: pre-wrap;
  --mixin-732beSAh3tXy_white-space: pre-wrap;
  --mixin-vhXH9Zka6Qqr_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-1X5uxiGeu5Mx_font-family);
  font-size: var(--mixin-1X5uxiGeu5Mx_font-size);
  font-weight: var(--mixin-1X5uxiGeu5Mx_font-weight);
  font-style: var(--mixin-1X5uxiGeu5Mx_font-style);
  color: var(--mixin-1X5uxiGeu5Mx_color);
  text-align: var(--mixin-1X5uxiGeu5Mx_text-align);
  text-transform: var(--mixin-1X5uxiGeu5Mx_text-transform);
  line-height: var(--mixin-1X5uxiGeu5Mx_line-height);
  letter-spacing: var(--mixin-1X5uxiGeu5Mx_letter-spacing);
  white-space: var(--mixin-1X5uxiGeu5Mx_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-LLR2jtfHLJGd_color);
  font-weight: var(--mixin-LLR2jtfHLJGd_font-weight);
  font-size: var(--mixin-LLR2jtfHLJGd_font-size);
  line-height: var(--mixin-LLR2jtfHLJGd_line-height);
  letter-spacing: var(--mixin-LLR2jtfHLJGd_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-nTAMLSWaN45W_color);
  font-size: var(--mixin-nTAMLSWaN45W_font-size);
  font-weight: var(--mixin-nTAMLSWaN45W_font-weight);
  line-height: var(--mixin-nTAMLSWaN45W_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-hOzMQL_Iwdh9_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-goJSmyZ7c9Ym_color);
  font-size: var(--mixin-goJSmyZ7c9Ym_font-size);
  font-weight: var(--mixin-goJSmyZ7c9Ym_font-weight);
  line-height: var(--mixin-goJSmyZ7c9Ym_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-lyPL14XP-W_i_color);
  font-size: var(--mixin-lyPL14XP-W_i_font-size);
  font-weight: var(--mixin-lyPL14XP-W_i_font-weight);
  line-height: var(--mixin-lyPL14XP-W_i_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-sSaBr-Bgx5k7_font-family);
  border-radius: var(--mixin-sSaBr-Bgx5k7_border-top-left-radius)
    var(--mixin-sSaBr-Bgx5k7_border-top-right-radius)
    var(--mixin-sSaBr-Bgx5k7_border-bottom-right-radius)
    var(--mixin-sSaBr-Bgx5k7_border-bottom-left-radius);
  padding: var(--mixin-sSaBr-Bgx5k7_padding-top)
    var(--mixin-sSaBr-Bgx5k7_padding-right)
    var(--mixin-sSaBr-Bgx5k7_padding-bottom)
    var(--mixin-sSaBr-Bgx5k7_padding-left);
  border-top: var(--mixin-sSaBr-Bgx5k7_border-top-width)
    var(--mixin-sSaBr-Bgx5k7_border-top-style)
    var(--mixin-sSaBr-Bgx5k7_border-top-color);
  border-right: var(--mixin-sSaBr-Bgx5k7_border-right-width)
    var(--mixin-sSaBr-Bgx5k7_border-right-style)
    var(--mixin-sSaBr-Bgx5k7_border-right-color);
  border-bottom: var(--mixin-sSaBr-Bgx5k7_border-bottom-width)
    var(--mixin-sSaBr-Bgx5k7_border-bottom-style)
    var(--mixin-sSaBr-Bgx5k7_border-bottom-color);
  border-left: var(--mixin-sSaBr-Bgx5k7_border-left-width)
    var(--mixin-sSaBr-Bgx5k7_border-left-style)
    var(--mixin-sSaBr-Bgx5k7_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-wKFdW8Q78l8w_color);
  padding-left: var(--mixin-wKFdW8Q78l8w_padding-left);
  border-left: var(--mixin-wKFdW8Q78l8w_border-left-width)
    var(--mixin-wKFdW8Q78l8w_border-left-style)
    var(--mixin-wKFdW8Q78l8w_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ABv1f2KaxE0Q_font-family);
  border-radius: var(--mixin-ABv1f2KaxE0Q_border-top-left-radius)
    var(--mixin-ABv1f2KaxE0Q_border-top-right-radius)
    var(--mixin-ABv1f2KaxE0Q_border-bottom-right-radius)
    var(--mixin-ABv1f2KaxE0Q_border-bottom-left-radius);
  padding: var(--mixin-ABv1f2KaxE0Q_padding-top)
    var(--mixin-ABv1f2KaxE0Q_padding-right)
    var(--mixin-ABv1f2KaxE0Q_padding-bottom)
    var(--mixin-ABv1f2KaxE0Q_padding-left);
  border-top: var(--mixin-ABv1f2KaxE0Q_border-top-width)
    var(--mixin-ABv1f2KaxE0Q_border-top-style)
    var(--mixin-ABv1f2KaxE0Q_border-top-color);
  border-right: var(--mixin-ABv1f2KaxE0Q_border-right-width)
    var(--mixin-ABv1f2KaxE0Q_border-right-style)
    var(--mixin-ABv1f2KaxE0Q_border-right-color);
  border-bottom: var(--mixin-ABv1f2KaxE0Q_border-bottom-width)
    var(--mixin-ABv1f2KaxE0Q_border-bottom-style)
    var(--mixin-ABv1f2KaxE0Q_border-bottom-color);
  border-left: var(--mixin-ABv1f2KaxE0Q_border-left-width)
    var(--mixin-ABv1f2KaxE0Q_border-left-style)
    var(--mixin-ABv1f2KaxE0Q_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Hrqej03d3JO8_display);
  flex-direction: var(--mixin-Hrqej03d3JO8_flex-direction);
  align-items: var(--mixin-Hrqej03d3JO8_align-items);
  justify-content: var(--mixin-Hrqej03d3JO8_justify-content);
  list-style-position: var(--mixin-Hrqej03d3JO8_list-style-position);
  padding-left: var(--mixin-Hrqej03d3JO8_padding-left);
  position: var(--mixin-Hrqej03d3JO8_position);
  list-style-type: var(--mixin-Hrqej03d3JO8_list-style-type);
  flex-column-gap: var(--mixin-Hrqej03d3JO8_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-_cZngo9bPhSp_display);
  flex-direction: var(--mixin-_cZngo9bPhSp_flex-direction);
  align-items: var(--mixin-_cZngo9bPhSp_align-items);
  justify-content: var(--mixin-_cZngo9bPhSp_justify-content);
  list-style-position: var(--mixin-_cZngo9bPhSp_list-style-position);
  padding-left: var(--mixin-_cZngo9bPhSp_padding-left);
  position: var(--mixin-_cZngo9bPhSp_position);
  list-style-type: var(--mixin-_cZngo9bPhSp_list-style-type);
  flex-column-gap: var(--mixin-_cZngo9bPhSp_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-jI95hABvpb-1_color);
  font-size: var(--mixin-jI95hABvpb-1_font-size);
  font-weight: var(--mixin-jI95hABvpb-1_font-weight);
  line-height: var(--mixin-jI95hABvpb-1_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-fhjxNxed9jAR_color);
  font-size: var(--mixin-fhjxNxed9jAR_font-size);
  font-weight: var(--mixin-fhjxNxed9jAR_font-weight);
  line-height: var(--mixin-fhjxNxed9jAR_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-8QSgg64SV0gE_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
